#close{
    display: flex;
    justify-content: flex-end;
    width: 100%;

    h1{
        font-size: 1rem;
    }
}

a{
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

.m-icon{
    color: #304FFE;
}