aside{
    padding-top: 20px;
    height: 100%;
}

.dark-mode{
    background-color: #424242;
}

.light-mode{
    background-color: white;
}

#close{
    display: flex;
    justify-content: flex-end;
    width: 100%;

    h1{
        font-size: 1rem;
    }
}

a{
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

.m-icon{
    color: #304FFE;
}