<aside class="shadow-sm" [ngClass]="darkModeStyle ? 'dark-mode' : 'light-mode' ">
    <mat-list *ngIf="isAuth else notAuth">
        <mat-list-item>
            <mat-icon class="m-icon" matListIcon>local_activity</mat-icon>
            <a matLine [ngStyle]="darkModeStyle ? {'color':'#fff'} : {'color':'black'}" routerLink="home/my-channels" (click)="onCloseSidebar()">My channels</a>
        </mat-list-item>

        <mat-list-item>
            <mat-icon class="m-icon" matListIcon>subscriptions</mat-icon>
            <a matline [ngStyle]="darkModeStyle ? {'color':'#fff'} : {'color':'black'}" routerLink="home/my-subscriptions" (click)="onCloseSidebar()">Subscriptions</a>
        </mat-list-item>

        <mat-list-item>
            <mat-icon class="m-icon" matListIcon>perm_identity</mat-icon>
            <a matLine [ngStyle]="darkModeStyle ? {'color':'#fff'} : {'color':'black'}" routerLink="home/profile" (click)="onCloseSidebar()">Profile</a>
        </mat-list-item>

        <mat-list-item>
            <mat-icon class="m-icon" matListIcon>eject</mat-icon>
            <a matLine [ngStyle]="darkModeStyle ? {'color':'#fff'} : {'color':'black'}" (click)="onLogout()" style="cursor: pointer;">Logout</a> 
        </mat-list-item>

        <mat-list-item>
            <mat-slide-toggle [checked]="isDarkMode" (click)="onDarkModeToggle()" color="primary">Dark Mode</mat-slide-toggle>
        </mat-list-item>
        </mat-list>

        <ng-template #notAuth>
            <mat-list>
                <mat-list-item>
                    <mat-icon class="m-icon" matListIcon>door_front</mat-icon>
                    <a matLine [ngStyle]="darkModeStyle ? {'color':'#fff'} : {'color':'black'}" routerLink="/auth/signup" (click)="onCloseSidebar()" style="cursor: pointer;">Signup</a> 
                </mat-list-item>
                
                <mat-list-item>
                    <mat-icon class="m-icon" matListIcon>login</mat-icon>
                    <a matLine [ngStyle]="darkModeStyle ? {'color':'#fff'} : {'color':'black'}" routerLink="/auth" (click)="onCloseSidebar()" style="cursor: pointer;">Signin</a> 
                </mat-list-item>
            </mat-list>
        </ng-template>
</aside>