#auth{
    display: flex;
    justify-content: center;
}

mat-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    mat-card-content{
        mat-card-header{
            display: flex;
            justify-content: center;
        }
        mat-form-field{
            width: 100%;
        }
    }
}