<section id="password-reset">
    <mat-card>
        <mat-card-header>
            <h3 *ngIf="resetting; else notResetting">Enter your email to get a password reset link sent to you</h3>
            <ng-template #notResetting>
                <h3>Enter your new password</h3>
            </ng-template>
        </mat-card-header>

        <mat-card-content>
            <form *ngIf="resetting; else resetPassword" [formGroup]="resendPasswordLinkForm" (ngSubmit)="sendPasswordResetLink()">
                <mat-form-field appearance="outline">
                    <mat-label>Your Email</mat-label>
                        <input type="text" matInput formControlName="email">
                        <mat-error *ngIf="resendPasswordLinkFormControls.email.errors?.required">Email is required!</mat-error>
                        <mat-error *ngIf="resendPasswordLinkFormControls.email.errors?.email">Enter a valid email!</mat-error>
                </mat-form-field>

                <button [disabled]="resendPasswordLinkForm.touched && resendPasswordLinkForm.invalid" type="submit" mat-raised-button color="primary">Send Password Reset link</button>
            </form>

            <ng-template #resetPassword>
                <form [formGroup]="passwordResetForm" (ngSubmit)="resetUserPassword()">
                    <mat-form-field appearance="outline">
                        <mat-label>New Password</mat-label>
                            <input type="text" matInput formControlName="password">
                            <mat-error *ngIf="passwordResetFormControls.password.errors?.required">Password is required!</mat-error>
                            <mat-error *ngIf="passwordResetFormControls.password.errors?.minlength">Password must be a minimum of 6 characters!</mat-error>
                    </mat-form-field>
    
                    <button [disabled]="passwordResetForm.touched && passwordResetForm.invalid" type="submit" mat-raised-button color="primary">Reset Password</button>
                </form>
            </ng-template>
        </mat-card-content>
    </mat-card>
</section>