#signup{
    display: flex;
    justify-content: center;
}

mat-card{
    min-width: 300px;
    margin: auto;
}

mat-card-header{
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;

    #fields{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        mat-form-field{
            width: 100%;
        }
    }
}