#navigation{
    height: 100%;
    display: flex;
    flex-direction: column;
}

#main-content-wrapper{
    display: flex;
    height: 100%;
}

#main-content{
    flex-grow: 1;
    margin-top: 40px;
}

#sidebar{
    position: fixed;
    height: 100%;
    z-index: 1;
}

.open{
    display:block;
}

.close{
    display: none;
}

.sidebarSmWidth{
    width:60%
}

.sidebarLgWidth{
    width: 20%;
}