#categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.clickedColor{
    background-color: #304FFE;
    color: white;
}

h1,h3{
    text-align: center;
    font-weight: lighter;
}

#nextBtn{
    background-color: blue;
    color: white;
    position: fixed;
    top:90%;
    right: 5%;
}