@import '~@angular/material/theming';
@include mat-core();

$mat-primary-scheme: (
  100: #d1c4e9,
  500: #304ffe,
  700: #512da8,
  contrast: (
    100: rgba(0,0,0,0.87),
    500: #ffffff,
    700: #ffffff,
  )
);
$mat-accent-scheme: (
  100: #ffe57f,
  500: #ffd740,
  700: #ffc400,
  contrast: (
    100: rgba(0,0,0,0.87),
    500: rgba(0,0,0,0.87),
    700: #ffffff,
  )
);
$mat-primary-palette: mat-palette($mat-primary-scheme);
$mat-accent-palette: mat-palette($mat-accent-scheme);

$app-light-theme: mat-light-theme($mat-primary-palette, $mat-accent-palette);

.light-mode{
  @include angular-material-theme($app-light-theme);
}
// following section is for dark mode.
// use appropriate class name for darkMode
$app-dark-theme: mat-dark-theme($mat-primary-palette, $mat-accent-palette);
.dark-mode {
  @include angular-material-theme($app-dark-theme);
  background-color: #121212;
  color:white;
}
    
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.shadow-sm{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

mat-card{
  min-width: 300px;
}

.full-width{
  width:100%;
}

.cursor{
  cursor: pointer;
}

.center-snackbar{
  margin: auto;
}